<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Academic Form</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg-white">
    <ion-img [src]="themeCover"></ion-img>

    <!-- Login form -->
    <form [formGroup]="academicForm" class="list-form" margin>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          Level
        </ion-label>
        <ion-select color="secondary" formControlName="level">
          <ion-select-option *ngFor="let level of levels" value="{{level.id}}">{{level.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="academicForm.get('level').touched && academicForm.get('level').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          Semester
        </ion-label>
        <ion-select color="secondary" formControlName="semester">
          <ion-select-option *ngFor="let semester of semesters" value="{{semester.id}}">{{semester.name}}
          </ion-select-option>
        </ion-select>
        <p ion-text color="warning" class="text08"
          *ngIf="academicForm.get('semester').touched && academicForm.get('semester').hasError('required')">
          <ion-text color="warning">
            Required Field
          </ion-text>
        </p>
      </ion-item>
    </form>

    <div margin-top>
      <ion-button *ngIf="!isUpdating" icon-left size="medium" expand="full" shape="round" color="primary"
        (click)="updateAcademics()" [disabled]="!academicForm.valid" tappable>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUpdating" size="medium" expand="full" shape="round" color="warning" tappable>
        Updating data <ion-spinner name="dots"></ion-spinner>
      </ion-button>
    </div>

  </ion-card>

</ion-content>