:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 5px;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 5px;
            --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
        }
    }
}

