<ion-fab vertical="bottom" horizontal="center" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" (click)="openAcademic()">
      <ion-icon name="school" slot="middle" size="large"></ion-icon>
      <span>Academics</span>
    </div>
    <div class="popup-menu-item" (click)="openTest()">
      <ion-icon name="people" slot="middle" size="large"></ion-icon>
      <span>Personality</span>
    </div>
    <!-- <div class="popup-menu-item">
      <ion-icon name="person" slot="middle" size="large"></ion-icon>
      <span>Profile</span>
    </div> -->
    <div class="popup-menu-item" (click)="logOut()">
      <ion-icon name="exit" slot="middle" size="large"></ion-icon>
      <span>Logout</span>
    </div>
  </div>
</div>