<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown" margin-top>
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </form>

    <div margin-top>
      <ion-button *ngIf="!isLoggin" icon-left size="medium" expand="full" shape="round" color="dark" (click)="signin()"
        [disabled]="!loginForm.valid" tappable>
        Sign in <ion-icon name="log-in"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isLoggin" size="medium" expand="full" shape="round" color="warning" tappable>
        Authenticating <ion-spinner name="dots"></ion-spinner>
      </ion-button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span [routerLink]="['/signup']" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>