<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{userPersonality.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card padding text-justify>

    <ion-card-header text-center>
      <ion-label><strong>Best Study Practices</strong></ion-label>
    </ion-card-header>

    <ion-card-content>
      <p><strong>{{ userPersonality.study_form }}</strong></p>
    </ion-card-content>

  </ion-card>

</ion-content>