:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 5px;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 5px;
            --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
        }
    }

    ion-select{
        max-width: 100% !important;
        width: 100%;
    }
}

page-profile {
    .profile-card{
      border-top: 3px solid rgb(58, 117, 255);
  }
  .home-address-card{
      border-top: 3px solid rgb(73, 184, 92);
  }
  .work-address-card{
      border-top: 3px solid  rgb(58, 117, 255);
  }
  .basic-card{
      border-top: 3px solid rgb(58, 117, 255);
  }
  
  .clear{
      background-color: #ffffff;
      color:#000000;
  }
  
  .bingy{
      font-size: 150%;
  }
  
  .work-icon{
      color:  rgb(58, 117, 255);
      font-weight: bold;
      font-size: 150%;
  }
  .home-icon{
      color: rgb(73, 184, 92);
      font-weight: bold;
      font-size: 150%;
  }
  
  .address-title{
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 100%;
  }

}