<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Personality Test</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="personalityForm">

    <!-- Question 1 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you feel more energized spending time with people?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_1" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_1').touched && personalityForm.get('question_1').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>

    <!-- Question 2 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Are your actions usually planned in advance?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_2" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_2').touched && personalityForm.get('question_2').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>


    <!-- Question 3 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you prefer to spend your leisure time alone or relaxing in a tranquil atmosphere?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_3" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_3').touched && personalityForm.get('question_3').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>

    <!-- Question 4 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>As a rule, do you prefer to proceed only when you have a clear and detailed plan?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_4" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_4').touched && personalityForm.get('question_4').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>


    <!-- Question 5 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you rarely deviate from your habits?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_5" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_5').touched && personalityForm.get('question_5').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>

    <!-- Question 6 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you spend your leisure time actively socializing with a group of people, attending parties, shopping,
            etc.?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_6" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_6').touched && personalityForm.get('question_6').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>


    <!-- Question 7 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>

            Do you value justice higher than mercy?
          </h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_7" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_7').touched && personalityForm.get('question_7').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>


    <!-- Question 8 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you think that almost everything can be analyzed?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_8" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_8').touched && personalityForm.get('question_8').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>

    <!-- Question 9 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you easily empathize with the concerns of other people?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_9" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_9').touched && personalityForm.get('question_9').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>

    <!-- Question 10 -->
    <ion-card class="profile-card">
      <div text-center margin-top>
        <ion-label>
          <h2>Do you find it difficult to speak loudly?</h2>
        </ion-label>
      </div>
      <ion-item class="animated fadeInUp">
        <ion-select formControlName="question_10" fill="block" text-center>
          <ion-select-option color="primary" value="Yes">Yes</ion-select-option>
          <ion-select-option color="warning" value="Maybe/Sometimes">Maybe / Sometimes</ion-select-option>
          <ion-select-option color="danger" value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="personalityForm.get('question_10').touched && personalityForm.get('question_10').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
    </ion-card>

  </form>

  <div margin-top>
      <ion-button *ngIf="!isChecking" icon-left size="medium" expand="full" shape="round" color="primary"
        (click)="checkPersonality()" [disabled]="!personalityForm.valid" tappable>
        Check Personality
      </ion-button>
      <ion-button *ngIf="isChecking" size="medium" expand="full" shape="round" color="warning" tappable>
        Updating data <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
    </div>

</ion-content>