<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo2"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">Sign Up</ion-text>
        </ion-text>
      </h3>
    </div>

    <!-- Register form -->
    <form [formGroup]="registerForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Surname
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="surname"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="registerForm.get('surname').touched && registerForm.get('surname').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Othername(s)
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="othernames"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="registerForm.get('othernames').touched && registerForm.get('othernames').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>


      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>

    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signup()" [disabled]="!registerForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Sign Up
      </ion-button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="signinPage()" tappable>
        <ion-text color="light">
          <strong>I already have an account!</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>