<ion-header>
  <ion-toolbar color="primary">

    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">EasyLearning</ion-text>
      </ion-text>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>

      <ion-button (click)="onMenu()">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-img src="https://www.thebusinesswomanmedia.com/wp-content/uploads/2017/08/business-startup-1.jpg"></ion-img>
      <br>
      <ion-item>
        <ion-label><strong>{{userPersonality?.name}}</strong></ion-label>
        <ion-button fill="outline" slot="end" (click)="studyDetails(this.userPersonality)">More</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
        (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
        (click)="changeMode('week')">Week</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">
        Day</ion-button>
    </ion-col>

    <!-- Move back one screen of the slides -->
    <ion-col size="4" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    
    <!-- Date View  -->
    <ion-col size="4" text-center>
      <ion-button fill="clear">
        <ion-icon name="calendar"></ion-icon>
        &nbsp;
        <ion-label><strong>{{ viewTitle }}</strong></ion-label>
      </ion-button>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="4" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>


  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    [monthviewDisplayEventTemplate]="template" (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="20" endHour="22"
    step="30" startingDayWeek="1">
  </calendar>



  <!-- <app-popmenu></app-popmenu> -->

</ion-content>