:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }

    ion-card-content {
        // margin-top: 50px;
	    text-overflow: ellipsis;
	    border-radius: 8px;
	    // max-width: 250px;
        overflow: hidden;
    }
}